@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: url('wp5457230.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #FFD700; /* Color amarillo */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    color: #FFD700; /* Título en amarillo */
    font-size: 2.5em;
    margin: 0;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    flex-grow: 1;
}

form {
    margin: 20px 0;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #FFD700; /* Etiquetas en amarillo */
}

form input[type="text"], form select {
    width: calc(100% - 20px); /* Ajustar el ancho para el padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box; /* Asegurar que el padding y border no excedan el ancho */
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background-color: #FFA500;
}

.results {
    text-align: left;
}

.result-item {
    display: flex;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    color: #333;
}

.result-item img {
    width: 150px;
    height: auto;
    border-right: 1px solid #ccc;
}

.result-details {
    padding: 20px;
}

.result-details h2 {
    margin-top: 0;
    color: #333;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
}

.pagination a:hover {
    color: #FFA500;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

footer p {
    color: #FFD700; /* Pie de página en amarillo */
    margin: 0;
}
