<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Anime</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Detalles del Anime</h1>
    </header>
    <main class="container">
        <div class="detail-item">
            <img src="{{ item.coverImage.large }}" alt="{{ item.title.romaji }}">
            <h2>{{ item.title.romaji }}</h2>
            <h3>{{ item.title.english }}</h3>
            <h3>{{ item.title.native }}</h3>
            <p>{{ item.description | safe }}</p>
            <p><strong>Episodios:</strong> {{ item.episodes }}</p>
            <p><strong>Fecha de inicio:</strong> {{ item.startDate.year }}-{{ item.startDate.month }}-{{ item.startDate.day }}</p>
            <p><strong>Fecha de finalización:</strong> {{ item.endDate.year }}-{{ item.endDate.month }}-{{ item.endDate.day }}</p>
            <p><strong>Puntuación media:</strong> {{ item.averageScore }}</p>
            <p><strong>Popularidad:</strong> {{ item.popularity }}</p>
        </div>
        <a href="/">Volver a la búsqueda</a>
    </main>
    <footer>
        <p>&copy; 2023 Anime Info App. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
